.App {
  width: 100%;
  padding: 50px 0 50px 0;
}
.formulaire {
  text-align: center;
}
.voir-plus {
  text-align: right;
  margin-right: 20px;
}
.header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress-container {
  display: flex;
  justify-content: center;
}

.gifs-results-container {
  min-height: 700px;
}
