@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.form-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.search-textfield {
  margin-bottom: 15px !important;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
  margin: 40px 0 0 40px;
  font-size: 40px;
} 
